{%extends "templates_zxd/Hydropower_Maintenance_Worker/base.html" %}
{% block list%}
<ul class="app-menu">
  <li><a class="app-menu__item" href="../index"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">主页</span></a></li>
  <li><a class="app-menu__item  active" href="../complaints"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">维修服务</span></a></li>
  <li><a class="app-menu__item" href="../checkin"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">电表维修登记</span></a></li>
  <li><a class="app-menu__item" href="../baoxiao"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">提交报销单</span></a></li>
<li><a class="app-menu__item" href="../mail"><i class="app-menu__icon fa fa-inbox"></i><span class="app-menu__label">设备管理</span></a></li>
</ul>
{% endblock %}

{% block mainbody %}
<div class="row user">
    <div class="col-md-12">
      <div class="profile">
        <div class="cover-image"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tile p-0">
        <ul class="nav flex-column nav-tabs user-tabs">
          <li class="nav-item"><a class="nav-link active" href="#user-timeline" data-toggle="tab">Timeline</a></li>
          <li class="nav-item"><a class="nav-link" href="#user-settings" data-toggle="tab">Unreplay</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
         <div class="tab-pane active" id="user-timeline">
         {% for fix_service,comment, hos in fix_services %}

              <div class="timeline-post">
              <div class="post-media"><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
               <div class="content">
               <h5><a href="#" >{{ hos.hos_name}}<br>ID:{{ hos.hos_id}}</a></h5>
                <p class="text-muted"><small>{{ fix_service.reco_time }}<br>维修服务</small></p>
              </div>
            </div>
            <div class="post-content">
              <p>{{ fix_service.content_field }}</p>
            </div>
            <ul class="post-utility" id="handle_fix_info{{ fix_service.fix_service_id }}">
                {% if fix_service.state == 1%}
                    <div  id="{{ fix_service.fix_service_id }}" style="display: block;">
                    <li class="comments"><button class="btn btn-info"  onclick="handle_fix({{ fix_service.fix_service_id }})"><i class="fa fa-fw fa-lg fa-history"></i>Complete</button></li>
                    </div>
                 {% else %}
                    <p class="btn btn-success ">已完成</p>

                {% endif %}
            <br>

{#                <li class="comments"><div class="comment_show"  ><i class="fa fa-fw fa-lg fa-comment-o"></i>Replay</div></li>#}
            </ul>
              <p id="message_{{ fix_service.advice_id }}"></p>
              {% if fix_service.state == 0 %}
              {% if comment.content_field %}
                  <div class="col col-md-4">
                    <input class="form-control" value="{{ comment.content_field }}" readonly="readonly">
                    <br>
                    {% if comment.type_re == 0 %}
                        <p><i class="fa fa-thumbs-up"></i>用户给了好评</p>
                     {% elif comment.type_re ==  1%}
                        <p><i class="fa fa-thumbs-down"></i>用户给了差评</p>
                        {% else %}
                        <p><i class="fa fa-hand-stop-o"></i>用户给了中评</p>
                     {% endif %}
                  </div>
                    {% else %}
                      <div class="col col-md-4">
                    <input class="form-control" value="用户尚未评价" readonly="readonly">
                  </div>
                    {% endif %}
              {% endif %}
{#              onclick="change()"#}
{#            <div id="comment_display_1">adasdasdasd</div>#}
          </div>
            {% endfor %}
            <!-- post_content  -->
            {% for name, advice in advices %}
                 {% if advice.type_field == 0 %}
              <div class="timeline-post">
                <div class="post-media"><a href="#"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
                <div class="content">
                  {% if advice.hoster_id %}
                            <h5><a href="#" >{{ name }}</a></h5>
                {% endif %}


                <p class="text-muted"><small>{{ advice.reco_time }}<br>投诉建议</small></p>
              </div>
            </div>
            <div class="post-content">
              <p>{{ advice.content_field }}</p>
            </div>
            <ul class="post-utility">

{#              <li class="shares"><button class="btn btn-success "><i class="fa fa-fw fa-lg fa-share"></i>Share</button></li>#}
                {% if advice.state == 1%}
                    <div  id="{{ advice.advice_id }}" style="display: block">
                    <li class="comments"><button class="btn btn-info"  onclick="finish_advice({{ advice.advice_id }})"><i class="fa fa-fw fa-lg fa-history"></i>Complete</button></li>
               </div>
                {% endif %}
            <br>

{#                <li class="comments"><div class="comment_show"  ><i class="fa fa-fw fa-lg fa-comment-o"></i>Replay</div></li>#}
            </ul>
              <p id="message_{{ advice.advice_id }}"></p>
{#              onclick="change()"#}
{#            <div id="comment_display_1">adasdasdasd</div>#}
          </div>
                {% endif %}
            {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}  

{% block script %}
<script type="text/javascript">
function change(){
  console.log("1")
  var x = document.getElementById("comment_display_1");
  document.getElementById("comment_display_1").style.display = "none";
}
</script>
<script type="text/javascript" src="../../../static/static_zxd/js/hydropower_maintenance_worker_handle_fix.js"></script>
<script type="text/javascript" src="../../../static/static_zxd/js/zepto.min.js"></script>
{% endblock %}