{% extends "templates_zxd/Business_Administrator/base.html" %}
{% block list%}
    <ul class="app-menu">
 <li><a class="app-menu__item" href="../index"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">主页</span></a></li>
  <li><a class="app-menu__item" href="../complaints"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">投诉建议</span></a></li>
  <li><a class="app-menu__item " href="../fix_service"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">维修请求</span></a></li>
  <li><a class="app-menu__item " href="../checkin"><i class="app-menu__icon fa fa-id-card"></i><span class="app-menu__label">办理入住</span></a></li>
  <li><a class="app-menu__item active" href="../parking"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">停车场业务</span></a></li>
  <li><a class="app-menu__item" href="../mail"><i class="app-menu__icon fa fa-inbox"></i><span class="app-menu__label">房屋信息</span></a></li>
    </ul>
{% endblock %}

{% block mainbody %}
    <div id="content">
        <div class="row">
        <div class="col-md-12">
          <div class="tile">
          <div class="add_title line-head">
                  <p>停车场信息</p>
                  <div class="add_button">
                    <button class="btn btn-primary change_btn_height" onclick="park_handle(0, 0, 'add')">添加</button>
                  </div>
              </div>
            <div class="tile-body">
              <table class="table table-hover table-bordered" id="parks">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>车库号</th>
                    <th>车位号</th>
                    <th>售价</th>
                    <th>租金</th>
                    <th>状态</th>
                    <th>操作</th>
                  </tr>
                </thead>
                  <tbody id="table_tbody">
                  {% for park in parks %}
                  <tr>
                    <td>{{ park.par_id }}</td>
                    <td>{{ park.gar_num  }}</td>
                    <td>{{ park.par_location }}</td>
                    <td>{{ park.price }}</td>
                    <td>{{ park.rent }}</td>
                      {% if park.avi == 1 %}
                      <td>可用</td>
                      {% else %}
                      <td>不可用</td>
                      {% endif %}
                      <td><button class="btn btn-danger"  onclick="park_handle({{ park.gar_num  }}, {{ park.par_location }}, 'delete')">删除</button></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
             <div class="detail" id = 'form1_detail'>
                 <div id="form1_detail_text">
                 </div>
             </div>
            </div>
          </div>
        </div>
      </div>
{#        <div class="row">#}
{#        <div class="col-md-12">#}
{#          <div class="tile">#}
{#          <div class="add_title line-head">#}
{#                  <p>入住信息</p>#}
{#              <p style="color:red;">{{error}}</p>#}
{#              </div>#}
{#            <div class="tile-body">#}
{#              <table class="table table-hover table-bordered" id="HouseTable">#}
{#                <thead>#}
{#                  <tr>#}
{#                    <th>房屋ID</th>#}
{#                    <th>住户ID</th>#}
{#                    <th>状态</th>#}
{#                    <th>操作</th>#}
{#                  </tr>#}
{#                </thead>#}
{#                  <tbody>#}
{#                  {% for house in houses %}#}
{#                  <tr>#}
{#                    <td>{{ house.ho_id  }}</td>#}
{#                    <td>{{ house.host_id }}</td>#}
{#                    <td>{{ house.avi }}</td>#}
{#                   <td>  <button class="btn btn-primary"  onclick="form_host_detail({{ house.ho_id  }}, 'form2')">详细</button></td>#}
{#                  </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#              </table>#}
{#             <div class="detail" id = 'form2_detail'>#}
{#                 <div id="form2_detail_text">#}
{#                 </div>#}
{#             </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    </div>
    <div class="form-add-host" id="add_park">
    <div class="tab-pane">
          <div class="tile user-settings">
            <h4 class="line-head">添加停车场</h4>
              <div id = "error"></div>
            <form id="form1_submit" method="POST" name="form1">
              {% csrf_token %}
              <div class="row mb-4">
                <div class="col-md-4">
                  <label>车库号</label>
                  <input class="form-control" type="text" name="gar_num" id="gar_num">
                </div>
                <div class="col-md-4">
                  <label>车位号</label>
                  <input class="form-control" type="number" name="par_id" id="par_id">
                </div>
              </div>
                <div class="row mb-4">
                <div class="col-md-4">
                  <label>售价</label>
                  <input class="form-control" type="text" name="price" id="price">
                </div>
                    <div class="col-md-4">
                  <label>租金</label>
                  <input class="form-control" type="text" name="rent" id="rent">
                </div>
              </div>
                <div class="row mb-4">
                        <div class="col-md-2">
                            <button class="btn btn-primary" type="button" onclick="park_handle(0,0,'add_post')"><i class="fa fa-fw fa-lg fa-check"></i> Save</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" type="button" onclick="park_handle(0,0,'concel_add')"><i class="fa fa-fw fa-lg fa-close"></i>Close</button>
                        </div>
                    </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}  

{% block script %}
<script type="text/javascript" src="../../../static/static_zxd/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../../static/static_zxd/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../../../static/static_zxd/js/business_administrator_parking.js"></script>
<script type="text/javascript">$('#parks').DataTable();</script>
{% endblock %}