<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>
<h1 align="center">个人信息</h1>
<form action="/modify_data/" method="post">
    <br><br>
    姓名：{{ hoster.hos_name }}
    <br><br>
    {% if hoster.sex == '1' %}
        性别：<input name="sex" value="男">
    {% else %}
        性别：<input name="sex" value="女">
    {% endif %}
    <br><br>
    {% if hoster.contact == None %}
        联系方式：<input name="contact" oninput="value=value.replace(/[^\d]/g,'')" value="">
    {% else %}
        联系方式：<input name="contact" oninput="value=value.replace(/[^\d]/g,'')" value="{{ hoster.contact }}">
    {% endif %}
    <br><br>
    <input type="submit" value="提交修改">
    <br><br>
    积分：{{ hoster.bonus }}
    <br><br>
    代金券：{{ hoster.coupon_nam }}
    <br><br>
    拥有房屋：<br><br>
    <table border="1">
        <tr>
            <th>房屋id</th>
            <th>房屋面积</th>
            <th>单元</th>
            <th>所属楼盘</th>
            <th>公摊面积</th>
            <th>楼层</th>
            <th>操作</th>
        </tr>
        {% for house in houses %}
            <tr>
                <td>{{ house.ho_id }}</td>
                <td>{{ house.area }}</td>
                <td>{{ house.unit_n }}</td>
                <td>{{ house.bel_name }}</td>
                <td>{{ house.pub_area }}</td>
                <td>{{ house.flour }}</td>
                {% if house.avi == 1 %}
                    <td><a href="/unRentHouse?ho_id={{ house.ho_id }}">退租</a></td>
                {% else %}
                    <td>拥有</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br><br>
    拥有停车场：<br><br>
    <table border="1">
        <tr>
            <th>车位id</th>
            <th>车库编号</th>
            <th>操作</th>
        </tr>
        {% for park in parks %}
            <tr>
                <td>{{ park.par_id }}</td>
                <td>{{ park.gar_num }}</td>
            {% if park.avi == 1 %}
                    <td><a href="/unRentPark?par_id={{ park.par_id }}">退租</a></td>
                {% else %}
                    <td>拥有</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

</form>
</body>
</html>