<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
</head>
<body>
{% block content %}
<h2>Account Info</h2>
<ul>
    <li>Username: {{ user.username }} </li>
    <li>Email: {{ user.email }} </li>
</ul>
<h2>Update My Profile</h2>

<div class="form-wrapper">
   <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
     {% for field in form %}
          <div class="fieldWrapper">
        {{ field.errors }}
       {{ field.label_tag }} {{ field }}
       {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
          </div>
        {% endfor %}
     <div class="button-wrapper submit">
         <input type="submit" value="Update" />
      </div>
   </form>
</div>

<a href="{% url 'users:logout' %}">Logout</a> |
     <a href="{% url 'users:pwd_change' user.id %}">Password change</a>

{% endblock %}

</body>
</html>