<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>租房</title>
</head>
<body>
<h1 align="center">可租用房屋信息</h1>
<br>
 <br>
{% if houses.count == 0 %}
   <h3 align="center">当前空闲房屋为空</h3>
{% else %}
<table border="1">
        <tr>
            <th>房屋id</th>
            <th>房屋面积</th>
            <th>单元</th>
            <th>所属楼盘</th>
            <th>公摊面积</th>
            <th>楼层</th>
            <th>租金</th>
            <th>操作</th>
        </tr>
     {% for house in houses %}
        <tr>
            <td>{{ house.ho_id }}</td>
            <td>{{ house.area }}</td>
            <td>{{ house.unit_n }}</td>
             <td>{{ house.bel_name }}</td>
            <td>{{ house.pub_area }}</td>
            <td>{{ house.flour }}</td>
            <td>{{ house.rent }}</td>
         <td><a href="/rentHouse?house_id={{ house.ho_id }}">租用此房屋</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>