<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投诉建议</title>
</head>
<body>
<form action="/post_suggestion/" method="post">
    <textarea style="width:500px;height:200px;" name="suggestion">
请在此输入您的建议......
</textarea>
    <br><br>
    <input type="submit" width="60" height="30" value="提交">
</form>
<br><br><br>
<h2>投诉建议状态</h2>
{% if advices.count == 0 %}
    <h4 align="center">您未曾参与投诉或提供建议</h4>
{% else %}
    <table border="1">
        <thead>
        <td>编号</td>
        <td>内容</td>
        <td>时间</td>
        <td>处理状态</td>
        </thead>
        {% for advice in advices %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ advice.content_field }}</td>
                <td>{{ advice.reco_time }}</td>
                {% if advice.state == 0 %}
                    <td>已处理</td>
                {% else %}
                    <td>待处理</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>